html, body {
  min-height: 100%;
}

body {
  font-family: sans-serif;
  background: linear-gradient(23deg, rgb(230, 100, 101), rgb(246, 183, 60)) no-repeat;
  font-family: "Courier New", Courier, monospace;
  background-attachment: fixed;
}

button {
  cursor: pointer;
}
